#disciplines {
  padding: 143px 0 135px;
  display: grid;
  grid-column: 2 / 3;
  row-gap: 30px;
}

.disciplines__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.disciplines__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 373px));
  row-gap: 36px;
  column-gap: 40px;
}
.disciplines__card {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto minmax(auto, 50px) 1fr auto;
  background: #ffffff;
}

.disciplines__card-title {
  margin: 19px 0 0 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #003e7c;
}
.disciplines__list {
  list-style-type: disc;
  margin: 7px 0 15px 52px;
  line-height: 30px;
  font-size: 16px;
  color: #003e7c;
}

button a {
  color: var(--primary-color);
}
