#duration {
  display: grid;
  grid-column: 2 / 3;
  padding-top: 257px;
}

.duration__items-mini {
  display: none;
}

@media (max-width: 375px) {
  #duration {
    display: grid;
    grid-column: 2 / 3;
    padding-top: 50px;
    justify-content: center;
  }

  .duration__items {
    display: none;
  }

  .duration__items-mini {
    display: grid;
    row-gap: 27px;
  }

  .duration__items-mini__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
  }

  .duration__items-mini__columns {
    display: grid;
    row-gap: 25px;
  }

  .column__logo img {
    display: block;
    width: 100%;
    height: auto;
  }
}
