#feedback {
  display: grid;
  grid-auto-flow: column;
  grid-column: 2 / 3;
  justify-content: space-between;
  grid-template-columns: 1fr minmax(auto, 517px);
}

#form {
  background: var(--secondary_background);
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.form__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--primary-background);
  text-transform: uppercase;
}
.form__title-book {
  padding: 17px 0 12px;
  width: 259px;
  cursor: pointer;
}

.active {
  position: relative;
  width: 259px;
  background-color: var(--secondary_background);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.form__title-teach {
  padding: 17px 0 12px;
  width: 259px;
  cursor: pointer;
}
.form__item {
  margin: 25px 0;
}

.form__select {
  width: 438px;
  padding: 6px 0 5px 23px;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #64607d;
  background: url("/img/feedback/arrow.svg") right 15px top 50% no-repeat;
  background-color: #eeeeee;
  border: none;
}

.form__email {
  border: none;
  width: 415px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #64607d;
  background: #eeeeee;
  padding: 6px 0 5px 23px;
}

.formBook {
  display: block;
}

.formTeach {
  display: none;
}

.form__email.error {
  box-shadow: 0 0 15px red;
}

.form__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 6px 0 25px;
}

#formAgree {
  width: 17px;
  height: 17px;
  margin: 0;
}

.form__label-radio {
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  color: #c4c4c4;
}

label a {
  text-decoration: underline;
}

.form__radio.error a {
  color: red;
}
