#feedback {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-column: 2 / 3;
  justify-content: space-between;
  align-items: flex-start;
  grid-template: 1fr / 1fr minmax(auto, 517px);
}

.logo {
  position: absolute;
  top: 30px;
  left: -135px;
  z-index: -1;
}

.feedback__text {
  display: grid;
  padding-top: 112px;
}

.feedback__title {
  background: url("/img/feedback/uniguru-logo.svg") center no-repeat;
  height: 150px;
}

.feedback__title span {
  opacity: 0;
}

.feedback__subtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 28px;
}

.feedback__first-subtitle {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  max-width: 487px;
}

.feedback__second-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  max-width: 430px;
}

/* Form */
#form {
  background: var(--secondary_background);
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.form__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  background-color: var(--primary-background);
  text-transform: uppercase;
}

.form__title-book {
  padding: 17px 0 12px;
  width: 259px;
  cursor: pointer;
}

.active {
  width: 259px;
  background-color: var(--secondary_background);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.form__title-teach {
  padding: 17px 0 12px;
  width: 259px;
  cursor: pointer;
}

.form__item {
  margin-bottom: 25px;
}

.form__item:nth-child(6) {
  margin-bottom: 31px;
}

.form__select {
  width: 438px;
  padding: 6px 0 5px 23px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #64607d;
  background: url("/img/feedback/arrow.svg") right 15px top 50% no-repeat;
  background-color: #eeeeee;
  border: none;
}

.form__select:focus {
  outline: none;
}

input {
  outline: none;
}

.form__email {
  border: none;
  width: 415px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #64607d;
  background: #eeeeee;
  padding: 6px 0 5px 23px;
}

.formBook {
  display: block;
  padding: 48px 37px 40px 42px;
}

.formTeach {
  display: none;
  padding: 48px 37px 40px 42px;
}

.form__email.error {
  box-shadow: 0 0 15px #ff0000;
}

.form__select.error {
  box-shadow: 0 0 15px #ff0000;
}

.form__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

#formAgree {
  width: 17px;
  height: 17px;
  margin: 0;
}

.form__label-radio {
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  color: #c4c4c4;
}

label a {
  text-decoration: underline;
}

.form__radio a {
  color: #0074e8;
}

.form__radio.error a {
  color: #ff0000;
}

@media (max-width: 1024px) {
  #feedback {
    display: grid;
    grid-auto-flow: column;
    grid-column: 2 / 3;
    justify-content: center;
    column-gap: 44px;
    grid-template: 1fr / minmax(auto, 474px) minmax(auto, 426px);
  }

  .logo {
    top: 8px;
    left: 40px;
  }

  .logo img {
    display: block;
    max-width: 239px;
    height: auto;
  }

  .feedback__text {
    display: grid;
    grid-template: 100px 126px / 380px;
    justify-content: end;
    align-content: center;
    padding-top: 150px;
  }

  .feedback__title {
    background-position: left 50% top 4px;
    background-size: 380px 63px;
  }

  .feedback__subtitle {
    align-self: center;
    row-gap: 7px;
  }

  .feedback__first-subtitle {
    font-size: 24px;
    line-height: 28px;
    max-width: 269px;
  }
  .feedback__second-subtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 291px;
  }

  /* Form */
  .form__title {
    font-size: 13px;
    line-height: 25px;
    text-align: center;
  }

  .form__title-book {
    padding: 14px 0 10px;
  }

  .form__title-teach {
    padding: 14px 0 10px;
  }

  .active {
    font-size: 16px;
    line-height: 25px;
  }

  .formBook {
    display: block;
    padding: 40px 30px 33px 35px;
  }

  .formTeach {
    display: none;
    padding: 40px 30px 33px 35px;
  }

  .form__item {
    margin-bottom: 21px;
  }

  .form__item:nth-child(6) {
    margin-bottom: 26px;
  }

  .form__select {
    max-width: 361px;
    padding: 5px 0 4px 12px;
    font-size: 13px;
    line-height: 25px;
    background: url("/img/feedback/arrow.svg") right 15px top 50% no-repeat;
    background-size: 13px;
    background-color: #eeeeee;
  }

  .form__email {
    max-width: 348px;
    font-size: 13px;
    line-height: 25px;
    padding: 5px 0 4px 12px;
  }

  .form__email.error {
    box-shadow: 0 0 12px #ff0000;
  }

  .form__radio {
    gap: 8px;
    margin-bottom: 20px;
  }

  #formAgree {
    width: 14px;
    height: 14px;
  }

  .form__label-radio {
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  #feedback {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-template: 210px 1fr / minmax(auto, 520px);
    row-gap: 26px;
    padding-top: 50px;
  }

  .feedback__text {
    display: grid;
    grid-template: 70px 160px / 520px;
    justify-content: center;
    padding-top: 0;
  }

  .logo {
    top: 10px;
    left: 104px;
  }

  .logo img {
    display: block;
    max-width: 160px;
    height: auto;
  }
}

@media (max-width: 576px) {
  #feedback {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-template: 180px 1fr / minmax(auto, 278px);
    row-gap: 26px;
    padding-top: 50px;
  }

  .feedback__text {
    display: grid;
    grid-template: 70px 105px / 246px;
    justify-content: center;
    padding-top: 0;
  }

  .logo {
    top: 30px;
    left: 30px;
  }

  .logo img {
    display: block;
    max-width: 97px;
    height: auto;
  }

  .feedback__title {
    background-position: left 50% top 10px;
    background-size: 205px 34px;
  }

  .feedback__subtitle {
    align-self: end;
    row-gap: 9px;
  }

  .feedback__first-subtitle {
    font-size: 18px;
    line-height: 21px;
    max-width: 218px;
  }
  .feedback__second-subtitle {
    font-size: 12px;
    line-height: 18px;
    max-width: 246px;
  }

  /* Form */

  .formBook {
    display: block;
    padding: 25px 19px 14px 23px;
  }

  .formTeach {
    display: none;
    padding: 25px 19px 14px 23px;
  }

  .form__title {
    font-size: 9px;
    line-height: 16px;
    text-align: center;
  }

  .form__title-book {
    padding: 9px 0 5px;
  }

  .form__title-teach {
    padding: 9px 0 5px;
  }

  .active {
    font-size: 11px;
    line-height: 16px;
  }

  .form__item {
    margin-bottom: 14px;
  }

  .form__item:nth-child(6) {
    margin-bottom: 13px;
  }

  .form__select {
    max-width: 236px;
    padding: 6px 0 5px 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    background: url("/img/feedback/arrow.svg") right 15px top 50% no-repeat;
    background-size: 10px;
    background-color: #eeeeee;
  }

  .form__email {
    max-width: 228px;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    padding: 6px 0 5px 8px;
  }

  .form__email.error {
    box-shadow: 0 0 9px #ff0000;
  }

  .form__radio {
    gap: 5px;
    margin-bottom: 11px;
  }

  #formAgree {
    width: 9px;
    height: 8px;
  }

  .form__label-radio {
    font-weight: 500;
    font-size: 8px;
    line-height: 16px;
  }

  .logo {
    top: 30px;
    left: 30px;
  }

  .logo img {
    display: block;
    max-width: 97px;
    height: auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 576px) {
  .logo {
    left: 130px;
  }
}
