footer {
  display: grid;
  grid-area: footer;
  grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
}

.footer__items {
  grid-column: 2 / 3;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 114px;
}
