header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4.0625em 0 6.5625em;
  background: var(--primary-background);
}

.sticky {
  position: sticky;
  top: 0;
  padding: 32px 0 34px;
  width: 100%;
  z-index: 100;
}

.header__logo {
  opacity: 0;
  text-align: right;
  user-select: none;
}

.header__logo img {
  margin-right: 375px;
}

.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 60px;
  list-style: none;
}

.items {
  border-bottom: 1px solid var(--primary-color);
  transition: 0.2s;
}

.items:hover {
  border-bottom: 0;
  transition: 0.2s;
}

.items a {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.25em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}
