/* header {
  padding: 3.06em 0 6.06em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5em;
}

.items {
  border-bottom: 1px solid var(--primary-color);
  transition: 0.2s;
}

.items:hover {
  border-bottom: 0;
  transition: 0.2s;
}

.items a {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.25em;
  text-align: center;
  color: var(--secondary-color);
} */

header {
  display: grid;
  grid-area: header;
  grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
}

nav {
  grid-column: 2 / 3;
}

.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 80px;
  list-style: none;
}

.items a {
  color: #f9f9f9;
  font-weight: 500;
}

.items a:hover {
  font-weight: 700;
  text-decoration: none;
}
