main {
  display: grid;
  grid-area: main;
  grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
}

@media (max-width: 1024px) {
  main {
    grid-template: 1fr / 1fr minmax(auto, 1024px) 1fr;
  }
}

@media (max-width: 768px) {
  main {
    grid-template: 1fr / 1fr minmax(auto, 768px) 1fr;
  }
}

@media (max-width: 576px) {
  main {
    grid-template: 1fr / 1fr minmax(auto, 576px) 1fr;
  }
}
