#models {
  padding-bottom: 135px;
  display: grid;
  grid-column: 2 / 3;
  justify-content: center;
}

.models__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.03em;
}
.models__list {
  list-style: none;
  margin: 77px 0 71px;
  font-size: 40px;
  line-height: 50px;
  color: #f9f9f9;
}

.models__item {
  margin: 0 0 44px 0;
  padding-left: 61px;
  background: url("../img/models/icon-flag.svg") no-repeat;
  background-position: top -10px left;
}

.models__text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
