#profiles {
  display: grid;
  grid-column: 1 / 4;
  padding: 75px 0 111px;
  background: var(--secondary_background);
}

.portfolio__title {
  margin-bottom: 3.4575em;
  font-size: 2.625em;
  font-weight: 700;
  line-height: 1.43em;
  letter-spacing: -0.03em;
  text-align: center;
}

.portfolio__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2.5em;
  margin: 0 auto;
  max-width: 1200px;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 1.3125em 1.4375em 1.3125em 1.875em;
  max-width: 373px;
  background: var(--primary-color);
  box-sizing: border-box;
  cursor: grabbing;
}

.portfolio__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.3125em;
  width: 20em;
}

.portfolio__header h3 {
  margin-left: 82px;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 2.5em;
  letter-spacing: -0.05em;
  text-align: left;
  color: var(--secondary_background);
}

.portfolio__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: rows;
  max-width: 20em;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--secondary_background);
  box-sizing: border-box;
}

.portfolio__description p:nth-child(even) {
  font-weight: 500;
}

.portfolio__description p {
  padding: 7px 0 9px;
  border-bottom: 1px dashed #c4c4c4;
}

.portfolio__description p:nth-child(n + 9) {
  padding: 7px 0 0 0;
  border: 0;
}

.slick-dots {
  bottom: -78px;
}

.slick-dots li {
  margin: 0 9px;
}

.slick-dots li button:before {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: #0074e8;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #dbedfc;
}

@media (max-width: 425px) {
  #profiles {
    display: block;
    padding: 4px 0 82px;
  }

  .portfolio__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .portfolio__card {
    margin: 0 112px;
    padding: 11px 12px 11px 16px;
    max-width: 201px;
  }

  .portfolio__header {
    margin-bottom: 16px;
    justify-content: space-between;
    column-gap: 45px;
    width: 100%;
  }

  .portfolio__header img {
    padding-left: 20px;
    width: 39px;
    height: 59px;
  }

  .portfolio__header h3 {
    margin-left: 0;
    padding-right: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description p {
    padding: 4px 0;
  }

  .portfolio__description p:nth-child(n + 9) {
    padding: 6px 0 0 0;
  }

  .slick-dots {
    bottom: -53px;
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li.slick-active button:before {
    margin: 0;
  }

  .slick-dots li button:before {
    width: 8px;
    height: 8px;
    font-size: 8px;
  }

  .slider-arrow_left {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-left-arrow.svg") center no-repeat;
    background-size: cover;
    left: 42px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_right {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-right-arrow.svg") center no-repeat;
    background-size: cover;
    right: 42px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_left:hover,
  .slider-arrow_right:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 375px) {
  #profiles {
    display: block;
    padding: 4px 0 82px;
  }

  .portfolio__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .portfolio__card {
    margin: 0 87px;
    padding: 11px 12px 11px 16px;
    max-width: 201px;
  }

  .portfolio__header {
    margin-bottom: 16px;
    justify-content: space-between;
    column-gap: 45px;
    width: 100%;
  }

  .portfolio__header img {
    padding-left: 20px;
    width: 39px;
    height: 59px;
  }

  .portfolio__header h3 {
    margin-left: 0;
    padding-right: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description p {
    padding: 4px 0;
  }

  .portfolio__description p:nth-child(n + 9) {
    padding: 6px 0 0 0;
  }

  .slick-dots {
    bottom: -53px;
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li.slick-active button:before {
    margin: 0;
  }

  .slick-dots li button:before {
    width: 8px;
    height: 8px;
    font-size: 8px;
  }

  .slider-arrow_left {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-left-arrow.svg") center no-repeat;
    background-size: cover;
    left: 42px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_right {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-right-arrow.svg") center no-repeat;
    background-size: cover;
    right: 42px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_left:hover,
  .slider-arrow_right:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 320px) {
  #profiles {
    display: block;
    padding: 4px 0 82px;
  }

  .portfolio__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .portfolio__card {
    margin: 0 59px;
    padding: 11px 12px 11px 16px;
    min-width: 202px;
  }

  .portfolio__header {
    margin-bottom: 16px;
    justify-content: space-between;
    column-gap: inherit;
    width: 100%;
  }

  .portfolio__header img {
    padding-left: 20px;
    width: 39px;
    height: 59px;
  }

  .portfolio__header h3 {
    margin-left: 0;
    padding-right: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .portfolio__description p {
    padding: 4px 0;
  }

  .portfolio__description p:nth-child(n + 9) {
    padding: 6px 0 0 0;
  }

  .slick-dots {
    bottom: -53px;
  }

  .slick-dots li {
    margin: 0;
  }

  .slick-dots li.slick-active button:before {
    margin: 0;
  }

  .slick-dots li button:before {
    width: 8px;
    height: 8px;
    font-size: 8px;
  }

  .slider-arrow_left {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-left-arrow.svg") center no-repeat;
    background-size: cover;
    left: 15px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_right {
    position: absolute;
    width: 14px;
    height: 26px;
    background: url("/img/portfolio/icon-right-arrow.svg") center no-repeat;
    background-size: cover;
    right: 15px;
    cursor: pointer;
    z-index: 99;
  }

  .slider-arrow_left:hover,
  .slider-arrow_right:hover {
    transform: scale(1.05);
  }
}
