#steps {
  display: grid;
  grid-column: 2 / 3;
  justify-items: center;
}

.steps__title {
  max-width: 858px;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  color: #dbedfc;
}
.steps__items {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  margin: 146px 0 93px;
}
.steps__item {
  position: relative;
  text-align: center;
}

.steps__number {
  font-weight: 800;
  font-size: 200px;
  line-height: 60px;
  text-align: center;
  color: #dbedfc;
}

.steps__icon-1 {
  position: absolute;
  top: -36px;
  right: 4px;
}

.steps__icon-2 {
  position: absolute;
  top: -26px;
  right: 0px;
}

.steps__icon-3 {
  position: absolute;
  top: -40px;
  right: -24px;
}

.steps__text-1 {
  max-width: 232px;
  margin-top: 48px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.steps__text-2 {
  max-width: 252px;
  margin-top: 48px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.steps__text-3 {
  max-width: 212px;
  margin-top: 48px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.steps__arrow {
  padding-top: 30px;
  text-align: center;
  width: 142px;
}
