@font-face {
  font-family: "Montserrat";
  src: url("montserrat-bold-webfont.eot");
  src: url("montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("montserrat-bold-webfont.woff2") format("woff2"),
    url("montserrat-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserratextrabold";
  src: url("montserrat-extrabold-webfont.eot");
  src: url("montserrat-extrabold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("montserrat-extrabold-webfont.woff2") format("woff2"),
    url("montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratlight";
  src: url("montserrat-light-webfont.eot");
  src: url("montserrat-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("montserrat-light-webfont.woff2") format("woff2"),
    url("montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratmedium";
  src: url("montserrat-medium-webfont.eot");
  src: url("montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("montserrat-medium-webfont.woff2") format("woff2"),
    url("montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("montserrat-regular-webfont.eot");
  src: url("montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("montserrat-regular-webfont.woff2") format("woff2"),
    url("montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
