html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  display: grid;
  grid-template: minmax(auto, 20px) 1fr minmax(auto, 446px) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: var(--primary-font);
  font-weight: 400;
  background: var(--primary-background);
  color: var(--primary-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

::placeholder,
select,
option {
  font-family: var(--primary-font);
  line-height: 30px;
  color: #64607d;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.btn {
  font-family: var(--primary-font);
  display: block;
  margin: 0 auto;
  padding: 0.3em 4.1em 0.25em 3.9em;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.875em;
  letter-spacing: -0.02em;
  text-align: center;
  border: 0;
  outline: none;
  background: var(--button-background);
  color: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  background: #0074e8e2;
}

.btn:focus {
  background: #0074e8be;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-color: #fff;
  --secondary-color: #f9f9f9;
  --primary-background: #00479a;
  --secondary_background: #003e7c;
  --button-background: #0074e8;
}

@media (max-width: 1024px) {
  body {
    grid-template: minmax(auto, 20px) 1fr minmax(auto, 388px) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .btn {
    margin: 0 auto;
    padding: 4px 54px 3px 52px;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: -0.02em;
  }
}

@media (max-width: 576px) {
  body {
    grid-template: minmax(auto, 0) 1fr minmax(auto, 162px) / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .btn {
    margin: 0 auto;
    padding: 4px 50px 2px 48px;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: -0.02em;
  }
}
