#team {
  padding: 101px 0 263px;
  display: grid;
  grid-column: 2 / 3;
  justify-content: center;
}

.team__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.03em;
}

.team__cards {
  display: grid;
  margin-top: 33px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(auto, 374px));
  column-gap: 245px;
  justify-content: center;
}

.team__card {
}

.team__image {
  width: 270px;
  height: 270px;
}
.team__name {
  margin: 33px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
}
.team__list {
  list-style-type: disc;
  padding-left: 30px;
  font-size: 20px;
  line-height: 30px;
}
