#popup {
  grid-area: popup;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  user-select: none;
}

.up {
  position: fixed;
  bottom: 100px;
  right: 150px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px;
  transform: rotate(180deg);
  opacity: 0;
}

.popup__block {
  min-height: 100%;
  color: #ffffff;
  max-width: 1200px;
  padding: 0 50px;
}

.popup__title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
}

.first {
  margin: 60px 0 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.popup__subtitle {
  margin: 70px 0 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 35px;
}

#popup a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#popup ul {
  list-style: disc;
}

.popup__first-list li b {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}

.popup__first-list li {
  margin: 0 0 40px 60px;
  font-size: 20px;
  line-height: 35px;
}

.popup__list li {
  margin: 0 0 40px 25px;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
}

@media (max-width: 576px) {
  #popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background);
    user-select: none;
  }

  .up {
    bottom: 50px;
    right: 25px;
  }

  .popup__block {
    padding: 18px 30px 40px;
    max-width: 100%;
  }

  .popup__title {
    font-size: 20px;
  }

  .first {
    margin: 20px 0 25px;
    font-size: 14px;
    line-height: 20px;
  }

  .popup__subtitle {
    margin: 45px 0 25px;
    font-size: 14px;
    line-height: 20px;
  }

  p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .popup__first-list li b {
    font-size: 14px;
    line-height: 20px;
  }

  .popup__first-list li {
    margin: 0 0 10px 20px;
    font-size: 12px;
    line-height: 20px;
  }

  .popup__list li {
    margin: 0 0 10px 15px;
    font-size: 14px;
    line-height: 20px;
  }
}
