html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template: minmax(auto, 20px) 1fr / 1fr;
  grid-template-areas:
    "header"
    "popup";
  font-family: var(--primary-font);
  font-weight: 400;
  background: var(--primary-background);
  color: var(--primary-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --primary-color: #fff;
  --secondary-color: #f9f9f9;
  --primary-background: #00479a;
  --secondary_background: #003e7c;
  --button-background: #0074e8;
}
